In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

# Study data files
emissions_data = "data/GCB2022v27_MtCO2_flat 2.csv"




# Read the mouse data and the study results
emission_data = pd.read_csv(emissions_data)



#demographics
emission_data.head()

Bad key "text.kerning_factor" on line 4 in
/Users/mark/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
emission_data.drop (["Per Capita"], axis=1, inplace=True)
emission_data.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
emission_data = emission_data.rename(
    columns={

        "ISO 3166-1 alpha-3": "iso_code"
    })
emission_data.head()

       Country iso_code  Year  Total  Coal  Oil  Gas  Cement  Flaring  Other
0  Afghanistan      AFG  1750    0.0   NaN  NaN  NaN     NaN      NaN    NaN
1  Afghanistan      AFG  1751    0.0   NaN  NaN  NaN     NaN      NaN    NaN
2  Afghanistan      AFG  1752    0.0   NaN  NaN  NaN     NaN      NaN    NaN
3  Afghanistan      AFG  1753    0.0   NaN  NaN  NaN     NaN      NaN    NaN
4  Afghanistan      AFG  1754    0.0   NaN  NaN  NaN     NaN      NaN    NaN

In [4]:
df_new = emission_data[emission_data['Year']>=1990]
df_new

,Country,iso_code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other
240,Afghanistan,AFG,1990,2.024326,0.278464,1.271408,0.403040,0.045766,0.025648,NaN
241,Afghanistan,AFG,1991,1.914301,0.249627,1.204085,0.389125,0.045766,0.025697,NaN
242,Afghanistan,AFG,1992,1.482054,0.021984,1.029584,0.362736,0.045766,0.021984,NaN
243,Afghanistan,AFG,1993,1.486943,0.018320,1.047904,0.351744,0.046991,0.021984,NaN
244,Afghanistan,AFG,1994,1.453829,0.014693,1.032171,0.337935,0.046991,0.022039,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746

In [5]:
df = df_new.dropna()

In [6]:
df['Country'].unique()

array(['Australia', 'Austria', 'Belarus', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'China', 'Croatia', 'Cyprus', 'Czech Republic',
       'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Kazakhstan',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'South Korea', 'Romania', 'Russia', 'Slovakia', 'Slovenia',
       'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Turkey', 'Ukraine',
       'United Kingdom', 'USA', 'Global'], dtype=object)

In [7]:
df['Country'].count()

1503

In [8]:
rslt_df = df[df['Country'] == 'Global']
rslt_df.head()

,Country,iso_code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other
63072,Global,WLD,1990,22757.480501,8688.659628,9249.362779,3833.133407,493.854338,267.858990,224.611359
63073,Global,WLD,1991,23244.805747,8604.035333,9723.429325,3909.677268,507.750603,282.964847,216.948371
63074,Global,WLD,1992,22580.023401,8399.006350,9226.138958,3958.119661,528.942070,250.482285,217.334077
63075,Global,WLD,1993,22812.899822,8500.946752,9232.772870,4067.061088,551.511948,244.055629,216.551533
63076,Global,WLD,1994,22969.498357,8548.628481,9265.657084,4102.083232,588.460610,248.053732,216.615219

In [12]:
rslt_df['Cement'].unique()

array([ 493.854338,  507.750603,  528.94207 ,  551.511948,  588.46061 ,
        622.442515,  635.312359,  661.232452,  658.611266,  691.010495,
        721.927315,  754.331663,  796.052479,  852.252693,  910.566319,
        964.306101, 1051.668722, 1129.389392, 1143.738362, 1175.729621,
       1254.87809 , 1349.799508, 1384.570572, 1444.086043, 1499.912273,
       1444.435868, 1487.616801, 1507.923185, 1569.218392, 1617.506786,
       1637.537532, 1672.592372])

In [10]:
df = df.drop(df[df.Country == 'Global'].index)

In [11]:
df.to_csv("data/emissions_data.csv", index=False, header=True)